
.Navar {
	width: 100vw;
	position: sticky;
	top: 0;
	background-color: var(--greyTwo);
	z-index: 1;
}

.Navar__ul {
	text-align: center;
	list-style: none;
	overflow: auto;
  white-space: nowrap;
	padding: 2rem 0rem;
}

.links {
	display: inline-block;
	width: 50%;
	font-family: var(--mainFont);
	color: white;
	font-size: 2.5rem;
	margin: 0rem 25%;
	text-decoration: none;
}

@media screen and (min-width: 768px) {

	.Navar__ul {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

	.links {
		margin: 0;
		font-size: 3rem;
	}
}

@media screen and (min-width: 1024px) {

	.links {
		font-size: 4rem;
	}

}
